<div class="jumbotron container-fluid">
    <h1>Contactos</h1>
    <p class="lead">una lista simple de la información de contacto con autoridades.</p>
    <hr class="my-4">
    <div class="row">
        <div class="col-md-4">
            Poner una imagen aquí!
            <!--<%= image_tag('modelobd.jpg', :alt => "modelo", size: "500x360", align: "center") %>-->
        </div>
        <div class="col-md-6">
            <p>Esta pantalla será simplemente una lista de contactos que la gente tiene disponible para poder contactar desde la policía, hasta las empresas de recolección de basuras o inclusive a una línea de atención de la alcaldía de su localidad. Se da información de telefonos de contacto, correos electrónicos y desde esta pantalla dando clic a cada numero/correo, podrá contactar directamente a la autoridad que desee.</p>
        </div>
    </div>
    <hr class="my-4">
    <div class="alert alert-dismissible alert-warning">
        <h4 class="alert-heading"><strong>Para implementar:</strong></h4>
        <p>Si se peude, sería bueno guardar una plantilla de correo para que el usuario no tenga que enviar mucha información a la entidad, simplemente agregar un comentario y esta plantilla de correo podría ir diligenciada de esta manera.</p>
    </div>
</div>