<div class="jumbotron container-fluid">
    <h1>Modelo de Base de datos</h1>
    <p class="lead">Diseño de la baso de dats basado en el diseño preliminar del modelo entidad-relación y que le dará forma a la base de datos.</p>
    <hr class="my-4">
    <div class="row">
        <div class="col-md-4">
            <%= image_tag('modelobd.jpg', :alt => "modelo", size: "500x360", align: "center") %>
        </div>
        <div class="col-md-6">
            <p>La estructura de datos que queremos impliementar consta de objetos básicos para los registros que queremos guardar par alimentar a la aplicación, basicamente la definición de objetos es la misma para la base de datos, con la diferencia de que hemos creado en este diagrama las relaciones entre cada objeto para luego agregar los campos que sirven como llaves entre tablas, para darle integridad al esquema de base de datos.</p>
        </div>
    </div>
    <hr class="my-4">
    <div class="alert alert-dismissible alert-warning">
        <h4 class="alert-heading"><strong>Para implementar:</strong></h4>
        <p>Posiblemente haya cambios al modelo inicial de acuerdo a lo que encontremos durante el desarrollo de la aplicación.</p>
    </div>
</div>