<!DOCTYPE html>
<html>
  <head>
    <title>Respirappwiki</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
      <h1 id="titulo">Respirappwiki</h1>
    </header>
    <aside id="menuprincipal">
      <ul class="btn-group-vertical">
        <li class="button-overlay"><a id="menu" href="/" data-toggle="tooltip" data-placement="top" title="Inicio">Inicio</li>
        <li class="section"><hr></li>
        <li class="button-overlay"><a id="menu" href="/pages/datamodels" data-toggle="tooltip" data-placement="top" title="Modelo de datos">Modelo de datos</li>
        <li class="button-overlay"><a id="menu" href="/pages/ermodels" data-toggle="tooltip" data-placement="top" title="Diagrama Entidad-Relaci贸n">Diagrama Entidad-Relaci贸n</li>
        <li class="section"><hr></li>
        <li class="button-overlay"><a id="menu" href="/pages/complaints" data-toggle="tooltip" data-placement="top" title="Crear un reporte/Queja">Crear un reporte/queja</li>
        <li class="button-overlay"><a id="menu" href="/pages/map" data-toggle="tooltip" data-placement="top" title="Mapa de contaminaci贸n">Mapa de contaminaci贸n</li>
        <li class="button-overlay"><a id="menu" href="/pages/contacts" data-toggle="tooltip" data-placement="top" title="Contacto">Contactos</li>
      </ul>
    </aside>

    

    <footer>
    </footer>

  </body>
</html>
